<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/copyToDo.css">
    

    <title>Copy</title>
</head>

<body>
    <div class="container">
        <div id="Todo">
            <h1>ToDo List</h1>
            
            <div id="buttonsAndPlus">
                <div id="addAssignment">
                    <h1>+</h1>
                </div>
    
                <div class="buttons">
                    <div id="button1" name="assignments">
                        <p>Assignments</p>
                    </div>
                    <div id="button2" name="shortcuts">
                        <p>Shortcuts</p>
                    </div>
                </div>
            </div>

            <div class="holder">
                <div id = "assignment">
                    <p>Assignment 1</p>  
                </div>
                <div id = "shortcut">
                    <p>Shortcut 1</p>   
                </div>
            </div>
            <div class="holder">
                <div id = "assignment">
                    <p>Assignment 2</p>   
                </div>
                <div id = "shortcut">
                    <p>Shortcut 2</p>   
                </div>
            </div>
            <div class="holder">
                <div id = "assignment">
                    <p>Assignment 3</p>  
                </div>
                <div id = "shortcut">
                    <p>Shortcut 3</p>   
                </div>
            </div>
        </div>

        <div id="calendar">

            <div id="headerAndButtons">
                <div id="calHeader">
                    <h1>Wednesday November 2, 2022</h1>
                </div>
    
                <div id="events">
                    <input type="button" value="Events" id="eventButton"> 
                </div>
            </div>

            <div id="table">
                <p>I am a schedule.</p>
            </div>
    
        </div>
        <!-- </div> -->
        
    </div>

    <!-- </div> -->
    
    <script src = "../public/js/copyToDo.js"></script>

</body>
</html>
