<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/copyToDo.css">


    <title>Copy</title>
    <script src="js/copyToDo.js"></script>
</head>

<body>
    <div class="container">
        <div id="Todo">
            <h1>ToDo List</h1>
            
            <div id="buttonsAndPlus">
                <div id="addAssignment">
                    <h1>+</h1>
                </div>
    
                <div class="buttons">
                    <div id="button1" name="assignments">
                        <p>Assignments</p>
                    </div>
                    <div id="button2" name="shortcuts">
                        <p>Shortcuts</p>
                    </div>
                </div>
            </div>

            <div class="holder" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div id = "assignment" draggable="true" ondragstart="drag(event)">
                    <p>Assignment 1</p>  
                </div>
                <div id = "shortcut" draggable="true" ondragstart="drag(event)">
                    <p>Shortcut 1</p>   
                </div>
            </div>
            <div class="holder" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div id = "assignment" draggable="true" ondragstart="drag(event)">
                    <p>Assignment 2</p>   
                </div>
                <div id = "shortcut" draggable="true" ondragstart="drag(event)">
                    <p>Shortcut 2</p>   
                </div>
            </div>
            <div class="holder" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div id = "assignment" draggable="true" ondragstart="drag(event)">
                    <p>Assignment 3</p>  
                </div>
                <div id = "shortcut" draggable="true" ondragstart="drag(event)">
                    <p>Shortcut 3</p>   
                </div>
            </div>
        </div>

        <div id="calendar">

            <div id="headerAndButtons">
                <div id="calHeader">
                    <h1>Wednesday November 2, 2022</h1>
                </div>
    
                <div id="events">
                    <input type="button" value="Events" id="eventButton"> 
                </div>
            </div>

            <div id="table">
                <table>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>Monday</td>
                        <td>Tuesday</td>
                        <td>Wednesday</td>
                        <td>Thursday</td>
                        <td>Friday</td>
                        <td>Saturday</td>
                        <td>Sunday</td>
                    </tr>
                    <tr>
                    </tr>
                    </tbody>
                </table>
                <p id="iAmSchedule">I am a schedule.</p>
            </div>

            <!--Feel free to move this somehwere else in the code-->
            <div class="holder" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="holder" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="holder" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    
        </div>      
    </div>

    <!-- </div> -->
    
    <script src = "js/copyToDo.js"></script>

</body>
</html>