<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/copyToDo.css">
    <link rel="stylesheet" href="css/AddAssignmentPopup.css">
    <link rel="stylesheet" href="css/AddEventPopup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
    <script type="module" src="js/copyToDo.js"></script>
    <script type="module" src="js/AddAssignmentEventData.js"></script>
    <script type="module" src="js/test.js"></script>
    <script type="module" src="js/anyClick.js"></script> 
    <script type="module" src="js/increment_popups.js"></script>
</head>

<body>
    <div class="blur">
    <div class="container" id="container">

        <div id="Todo">
            <h1 style="font-size:40px">ToDo List</h1>
            
            <div id="buttonsAndPlus">
                <div id="addAssignment"></div>
            </div>
        </div>

        <div id="calendar">
            <div id="headerAndButtons">
                <div id="calHeader">
                    <h1 id="currentDate" style="font-size:40px">Current Date Goes Here</h1>
                </div>
            </div>

            <!-- Creates calendar for user -->
            <div id="table">
                <table>
                    <tbody>
                        <tr>
                            <th style="font-size:25px">Time</th>
                            <th id="dayOfWeek" style="font-size:25px">Day of Week</th>
                            <!-- <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th> -->
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>    
    
    </div>

    <div class="shell">
        <button type="button" class="btn" id='asmt' onclick="openPopup()"></i> Add Assignment</button>
    
        <div class="assignment_popup" id="assignment_popup">
          <h2>Add an Assignment</h2>
          <form>
            <label for="Aname">Assignment name:</label>
            <input type="text" id="Aname"><br><br>
    
            <input type="checkbox" id="reading">
            <label for="reading"> Reading Assignment?</label><br><br>
    
            <label for="Description">Description:</label>
            <input type="text" id="Description"><br><br>

            <!-- <label for="Ctime">Completion Time:</label>
            <input type="text" id="Ctime"><br><br> -->
            <label for="Ctime">Completion time:</label>
            <select id="Ctime" name="Ctime" required></select>
            <label for="minutes">minutes</label>

            <!--<input type="checkbox" id="Shortcut">
            <label for="Shortcut">Shortcut?</label>-->
          </form>
          <button type="button" class="cancelbtn" onclick="closePopup();">Cancel</button>
          <button type="button" class="addbtn" onclick="closePopup();">Submit</button>
        </div>
    
        <button type="button" class="btn2" id='evnt' onclick="openPopup2()">Add Event</button>
        <div class="event_popup" id="event_popup">
          <h2>Add an event</h2>
          <form>
            <label for="Ename">Event name:</label>
            <input type="text" id="Ename"><br><br>
    
            <label for="EventDescription">Description:</label>
            <input type="text" id="EventDescription"><br><br>
            
            <!-- <label for="Stime">Start time:</label>
            <input type="text" id="Stime"><br><br>

            <label for="Etime">End time:</label>
            <input type="text" id="Etime"><br><br> -->
            
            <!-- Dropdown menu that fills start time with times at 30min increments -->
            <label for="Stime">Start time:</label>
            <select id="Stime" name="Stime" required></select>
            <!-- Dropdown menu for AM/PM selection -->
            <!-- <select name="AMPM">
                <option value="am">AM</option>
                <option value="pm">PM</option>
            </select><br><br> -->
    
            <!-- Dropdown menu that fills end time with times at 30min increments -->
            <label for="Etime">End time:</label>
            <select id="Etime" name="Etime" required></select>
            <!-- Dropdown menu for AM/PM selection -->
            <!-- <select name="AMPM">
                <option value="am">AM</option>
                <option vaue="pm">PM</option>
            </select><br><br> -->
        
            <div>Reoccuring days:</div><br>
            <input type="checkbox" id="Sunday">
            <label for="Sunday">Su</label>
    
            <input type="checkbox" id="Monday">
            <label for="Monday">Mo</label>

            <input type="checkbox" id="Tuesday">
            <label for="Tuesday">Tu</label>

            <input type="checkbox" id="Wednesday">
            <label for="Wednesday">We</label>

            <input type="checkbox" id="Thursday">
            <label for="Thursday">Th</label>

            <input type="checkbox" id="Friday">
            <label for="Friday">Fr</label>

            <input type="checkbox" id="Saturday">
            <label for="Saturday">Sa</label>

          </form>
          <button type="button" class="cancelbtn2" onclick="closePopup2();">Cancel</button>
          <button type="button" class="addbtn2" onclick="closePopup2();">Submit</button>
        </div>

        <a href="/settings"><button type="button" class="settings" id="settings"><i class="fa fa-gears"></i></button></a>
    </div>

    </div>

    <script src="js/AddAssignmentPopup.js"></script>

    <script>
        let idCounter = 1;
        //Make code so that it can't be dragged around when other type of card is being viewed
        function allowDrop(ev) {
                ev.preventDefault();
        }
        //Used on Dragged items
        //Checks if it is hovered over valid location and drop it if it is
        function drag(ev) {
            determineDraggable();

            let assignment = event.target.parentNode;
            let run = true
            let rowNum = assignment.parentNode.rowIndex
            let rowNumOriginal = rowNum;
            let table = document.body.querySelector("table")

            //if it's being dragged from the calander
            if(ev.target.id.includes("Copy")){
                //adjust size of assignment to its original spot
                event.target.parentNode.rowSpan = "1";

                while(run){
                    //increment row
                    rowNum++;
                    //if it is missing a cell (the assignment used to be there)
                    if(table.rows[rowNum].cells.length < 2){
                        //add a missing cell
                        table.rows[rowNum].insertCell(1)

                        let cell2 = table.rows[rowNum].cells[1];
                        let time = table.rows[rowNum].cells[0].innerHTML;

                        cell2.id = "calendarBox" + time; //create an id ad append the counter
                        //added attributes to the calander boxes for dragging
                        cell2.setAttribute("class", "holder");
                        cell2.setAttribute("ondrop", "drop(event)")
                        cell2.setAttribute("ondragover", "allowDrop(event)")
                    }
                    //otherwise quite loop because all cells have been filled
                    else{
                        run = false;
                    }
                }
            }
            ev.target.parentNode.setAttribute("ondragover", "allowDrop(event)")
            ev.dataTransfer.setData("text", ev.target.id);
        }


        //Used on Holders
        //Gets data given in drag() and transfers it into the holder
        function drop(ev) {
            let rowNum = null;

            ev.preventDefault();

            //get original assignments id
            var data = ev.dataTransfer.getData("text");

            //get ready to clone everything over
            var nodeCopy = document.getElementById(data).cloneNode(true);
            //add and increment assignemnt id
            nodeCopy.id = data + "Copy" + idCounter;
            idCounter++;

            //if the assingment is being moved(asmt. already has copy in id) delete the original
            let originalAssignment = document.body.querySelector("#" + data)
            if(originalAssignment.id.includes("Copy")){
                originalAssignment.parentElement.innerHTML = ""
            }

            let table = ev.target.parentNode.parentNode;

            ev.target.appendChild(nodeCopy)
            
            //cycle through cells looking for one with the new element
            for (let row of table.rows) {
                for (let cell of row.cells) {
                        //To catch if taken
                        try{
                        //make sure cell child has the nodecopy id (to prevent errors)
                        if(cell.querySelector("#" + nodeCopy.id) && cell.firstChild.id == nodeCopy.id){
                            //set the row number
                            rowNum = cell.parentNode.rowIndex;

                            //find the child with the minutes listed
                            //LOOK HERE IF ASSIGNMENT ALWAYS SHOWS UP AS 30MIN LONG (Probably looking for wrong child)
                            let minutesChild = document.body.querySelector('#' + nodeCopy.id + ' :nth-child(5)')

                            //Extract length of assignments
                            let cellLengthStr = minutesChild.innerHTML
                            let length = cellLengthStr.match(/(\d+)/);

                            //Because at the moment you can set length to nothing or 0
                            if(length != null && length.length > 0) {
                                length = length[0];
                            }

                            //find length in cells, not minutes
                            length /= 30;

                            //there really shouldn't be a 0 length so will be set to 1 (or 30) for now
                            if(length == 0){
                                length = 1;
                            }

                            if(length > 1){
                                //throw error if end of table is reached or of a cell is full
                                for(let i = 1; i < length; i++){
                                    if((rowNum + i) >= table.rows.length || table.rows[rowNum + i].cells[1].firstChild != null){
                                        throw "cell taken"
                                    }
                                }
                                //if in bounds remove cell(s) below one just added (if needed)
                                for(let i = 1; i < length; i++){
                                        table.rows[rowNum + i].deleteCell(1);  
                                }
                            }
                            //extend cell with assignment length
                            cell.rowSpan = length;
                        }
                    }
                    //print error about taken cell
                    catch(taken){
                        ev.target.removeChild(ev.target.firstChild)
                        console.error(taken);
                        alert("Cell taken")
                    }
                }
            }

            determineDraggable();
        }

        //if Used: sometimes cannot move things back to where they were because of hidden modules in the "empty" spot
        //if not used: if a module is dragged to an invalid spot the program thinks its old spot and now empty and can be dragged into
        function determineDraggable(){
            let holders = document.body.querySelectorAll(".holder");
            for(let i = 0; i < holders.length; i++){
                if(holders[i].hasChildNodes()){
                    holders[i].setAttribute("ondragover", "");

                    //change assignment style settings for when it is transferred to calander
                    holders[i].firstChild.style.height = "100%";
                    holders[i].firstChild.style.position = "absolute"
                    holders[i].firstChild.style.margin = "0px"
                    //IDK why but it doesn't work without this line:
                    holders[i].firstChild.style.bottom = "0%"
                    holders[i].style.position = "relative"
                }
                else{
                    holders[i].setAttribute("ondragover", "allowDrop(event)")
                }
            }
        }
    </script>
</body>
</html>