<!DOCTYPE html>
<html>

<head>
    <title>Chickens</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Chickens</h1>
    <!-- I am a comment-->
    <a href="https://en.wikipedia.org/wiki/Chicken"><img class="small" src="/img/chickens.jpg"></a>

    <p>The <b>chicken</b> (<i>Gallus domesticus</i>) is a <a href="/wiki/Domestication"
            title="Domestication">domesticated</a> bird, with attributes of wild species such as the <a
            href="/wiki/Red_junglefowl" title="Red junglefowl">red</a> and <a href="/wiki/Grey_junglefowl"
            title="Grey junglefowl">grey junglefowl</a> that are originally from <a href="/wiki/Southeastern_Asia"
            class="mw-redirect" title="Southeastern Asia">Southeastern Asia</a>.
    </p>
    <input type="text">
    <input type="date">

    <script src="/js/app.js"></script>
</body>

</html>
