<!DOCTYPE html>
<html lang="en">
<head>
     <!-- HTML for Sign Up/Login page-->
    <meta charset="UTF-8">
    <title>Login and Sign Up Page</title>
    <link href="css/login_or_signup.css" rel="stylesheet">
    <script type="module" src="js/login.js"></script>
</head>
<body>
    <div id="container">
        <h1>Login</h1>
        <div>
        <!-- Form for user to log into Digital Planner -->
        <!-- <form action="/login" target="_blank" method="POST"> -->
            <div id="userInput">
                <!-- User enters username -->
                <p id="userP">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="userName" maxlength="20" required>
                </p>
                <!-- User enters password -->
                <p id="passP">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" maxlength="20" required>
                </p>
            </div>

            <p>
                <!-- Button to submit login form -->
                <button type="button" id="submit">Submit</button>
            </p>
        
        </div>

        <div id="signDiv">
           <p>Not a member?</p>
            <p>
                <!-- Button takes user to Sign Up page so they can create account -->
                <a href="/signup"><button type="button" id="signup">Create Account</button></a>
            </p>
        </div>

        <!-- </form> Form ends here -->
        
    </div>
</div>
</body>
</html>



