<!DOCTYPE html>
<html lang="en">
<head>
     <!-- HTML for Sign Up/Login page-->
    <meta charset="UTF-8">
    <title>Login and Sign Up Page</title>
    <link href="css/login_or_signup.css" rel="stylesheet">
</head>
<body>
    
    <div id="container">
        <h1>Login</h1>
        <div>
        <!-- to do: change action of form -->
        <form action="/home" target="_blank" method="POST">
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password">
            </p>
            <p>
                <input type="submit" id="submit"></button>
            </p>
        




        </div>

        <div id="signDiv">

         <p>Not a member?</p>
        <p>
            <!-- When user clicks button, it takes them to Sign Up page so they can create account -->
            <a href="/signup"><button type="button" id="signup">Sign Up</button></a>
        </p>
        </div>

        </form>
        
    </div>
</div>
</body>
</html>



