<!DOCTYPE html>
<html lang="en">
<head>
     <!-- HTML for Sign Up/Login page-->
    <meta charset="UTF-8">
    <title>Login and Sign Up Page</title>
    <link href="../public/css/login_or_signup.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div>
        <form action="https://wp.zybooks.com/form-viewer.php" target="_blank" method="GET">
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password">
            </p>
            <p>
                <input type="submit" id="submit"></button>
            </p>
        </form>
        </div>

        <div>
        <!-- does Sign Up button have to be in form? bc all it should do is take user to the other html page-->
        <p>
            <button type="button" id="signup">Sign Up</button>
        </p>
        </div>
</div>
   
</body>
</html>



