<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="AddAssignmentPopup.css">
  <link rel="stylesheet" href="AddEventPopup.css">
  <title>Add Assignment Popup</title>
</head> 
<body>
  <div class="container">
    <button type="button" class="btn" onclick="openPopup()">Add Assignment</button>

    <div class="assignment_popup" id="assignment_popup">
      <h2>Add an Assignment</h2>
      <form>
        <label for="Aname">Assignment name:</label>
        <input type="text" id="Aname"><br><br>

        <input type="checkbox" id="reading">
        <label for="reading"> Reading Assignment?</label><br><br>

        <label for="Description">Description:</label>
        <input type="text" id="Description"><br><br>

        <input type="checkbox" id="Shortcut">
        <label for="Shortcut">Shortcut?</label>
      </form>
      <button type="button" class="cancelbtn" onclick="closePopup()">Cancel</button>
      <button type="button" class="addbtn" onclick="closePopup()">Submit</button>
    </div>

    <button type="button" class="btn2" onclick="openPopup2()">Add Event</button>
    <div class="event_popup" id="event_popup">
      <h2>Add an event</h2>
      <form>
        <label for="Ename">Event name:</label>
        <input type="text" id="Ename"><br><br>

        <label for="EventDescription">Description:</label>
        <input type="text" id="EventDescription"><br><br>

        <label for="Stime">Start time:</label>
        <input type="text" id="Stime"><br><br>

        <label for="Etime">End time:</label>
        <input type="text" id="Etime"><br><br>

        <input type="checkbox" id="Recurring">
        <label for="Recurring">Recurring?</label>
      </form>
      <button type="button" class="cancelbtn2" onclick="closePopup2()">Cancel</button>
      <button type="button" class="addbtn2" onclick="closePopup2()">Submit</button>
    </div>

  </div>
<script src="AddAssignmentPopup.js"></script>
</body>
</html>