<!DOCTYPE html>
<html lang="en">
<head class="head">
    <meta charset="UTF-8">
    <title>Settings</title> <!--This is the settings page for Digital Planner-->
    <link href="css/settings.css" rel="stylesheet"> <!--Links css and html together-->
    <script type="module" src="js/increment_settings.js"></script>
</head>

<body>
    <div class="mainContainer">

    <h1>Settings</h1>
    
    <form action="/home" method="POST"> <!--Sends user back to home if submit is pressed-->
        <div>
            <p> <!--User can change their username-->
                <label for="user">Set Username:</label> 
                <input type="text" name="changeUsername" id="user" placeholder="New Username" maxlength="20">
            </p>
        </div>

        <div>
            <p> <!--User can change their password-->
                <label for="password">Set Password:</label> 
                <input type="text" name="changePassword" id="password" placeholder="New Password" maxlength="20">
            </p>
        </div>

        <div id="startBox">
            <p> <!--User can update the earliest time they want to be doing work-->
                <label for="startWorkTime">Set Earliest Work Time:</label> 
                <select id="startWorkTime" name="startWorkTime" required></select>
                <select name="AMPM">
                    <option>AM</option>
                    <option>PM</option>
                </select> 
            </p>
        </div>

        <div>
            <p> <!--User can update the latest time they want to be doing work-->
                <label for="stopWorkTime">Set Latest Work Time:</label>
                <select id="stopWorkTime" name="stopWorkTime" required></select>
                <select name="AMPM">
                    <option>AM</option>
                    <option>PM</option>
                </select> 
            </p> 
        </div>

        <div>
            <p>
                <label for="themes">Theme:</label> <!--Drop-down menu for theme-->
                <select name="Theme" id="themes"> 
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                    <option value="colors">Colors</option>
                    <option value="pastel">Pastel</option>
                </select>
                </p>
        </div>
       
        <div id="buttons">
            <input type="submit" value="Submit" id="submitButton">
                
            <!--takes you back to login page-->
            <a href="/"><button type="button" id="logoutButton">Logout</button></a>
        </div>

        <!--Button to get out of settings if clicked accidentally:-->
        <input type="submit" value="Home" id="escapeButton">

    </form>

</div>

</body>
</html>