<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HTML for Sign Up page -->
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="../public/css/signup.css" rel="stylesheet">
</head>
<body>
    <h1>Sign Up</h1>
    <div id="container">
        <div>
            <p>
                <!-- to do: change action of form -->
                <form action="/home" target="_blank" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password">
            </p>
            <p>
                <label for="studyStart">Study start time:</label>
                <input type="time" name="studyStart" id="studyStart">
            </p>
            <p>
                <label for="studyStop">Study stop time:</label>
                <input type="time" name="studyStop" id="studyStop">
            </p>
        </div>
        <div>
            <input type="submit" id="createAccount" value="Create Account"></button>   
            </form>
        </div>
    </div>
</body>
</html>