<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HTML for Sign Up page -->
    <meta charset="UTF-8">
    <title>Sign Up</title>
     <!-- <link href="../public/css/signup.css" rel="stylesheet"> -->
     <link href="css/signup.css" rel="stylesheet">
     <script type="module" src="js/increment_signup.js"></script>
</head>
<body>
    
    <div id="container">
        <h1>Create Account</h1>

        <form action="/homeFromSignup" target="_blank" method="POST">

        <div>
        
            <p>
                <!-- to do: change action of form -->
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" maxlength="20" required>
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" maxlength="20" required>
            </p>
            <p>
                <label for="studyStart">Study start time:</label>
                <select id="studyStart" name="studyStart" required></select>
                <!-- <select name="AMPM">
                    <option>AM</option>
                    <option>PM</option>
                </select> -->
            </p>
            <p>
                <label for="studyStop">Study stop time:</label>
                <select id="studyStop" name="studyStop" required></select>
                <!-- <select name="AMPM">
                    <option>AM</option>
                    <option>PM</option>
                </select> -->

            </p>
        </div>
        
        <div id=theButton>
            <input type="submit" id="createAccount" value="Create Account"></button>   
        </div>

    </form>

    </div>
</body>
</html>