<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/ToDo.css">
    <script src = "../public/js/ToDo.js"></script>
</head>

<body>
    <div id = "Todo">
        <h1>ToDo List</h1>

        <div class="buttons">
            <button id="button1" name="assignments">Assignments</button>
            <button id="button2" name="shortcuts">Shortcuts</button>
        </div>

        <div id = "assignment">
            <p>Assignment 1</p>   
        </div>
        <div id = "assignment">
            <p>Assignment 2</p>   
        </div>
        <div id = "assignment">
            <p>Assignment 3</p>   
        </div>

        <div id = "shortcut">
            <p>Shortcut 1</p>   
        </div>
        <div id = "shortcut">
            <p>Shortcut 2</p>   
        </div>
        <div id = "shortcut">
            <p>Shortcut 3</p>   
        </div>
    </div>
</body>
</html>