<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/css/ToDo.css">
</head>

<body>
    <div id = "Todo">
        <h1>ToDo List</h1>

        <div id="addAssignment">
            <h1>+</h1>
        </div>

        <br>

        <div class="buttons">
            <div id="button1" name="assignments" >
                <p>Assignments</p>
            </div>
            <div id="button2" name="shortcuts">
                <p>Shortcuts</p>
            </div>
        </div>

        
        <div class="todoDropBox">
            <div id = "assignment" draggable="true" ondragstart="drag(event)">
                <p>Assignment 1</p>   
            </div>
        </div>
        <div class="todoDropBox">
            <div id = "assignment" draggable="true" ondragstart="drag(event)">
                <p>Assignment 2</p>   
            </div>
        </div>
        <div class="todoDropBox">
            <div id = "assignment" draggable="true" ondragstart="drag(event)">
                <p>Assignment 3</p>   
            </div>
        </div>

        <div class="todoDropBox">
            <div id = "shortcut" draggable="true" ondragstart="drag(event)">
                <p>Shortcut 1</p>   
            </div>
        </div>
        <div class="todoDropBox">
            <div id = "shortcut" draggable="true" ondragstart="drag(event)">
                <p>Shortcut 2</p>   
            </div>
        </div>
        <div class="todoDropBox">
            <div id = "shortcut" draggable="true" ondragstart="drag(event)">
                <p>Shortcut 3</p>   
            </div>
        </div>
    </div>

    <div class="calander">
        <div id="dropBox1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    </div>

    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>
    <script src = "../public/js/ToDo.js"></script>
    
</body>
</html>