body{
  background-color: #41B3A3;
}

/*
 * Styling for the Add Assignment button
 */
.btn {
	padding: 10px 20px;
	background: white;
  color: #007E6F;
  border-width: 0px;
  border-radius: 2px;
	border: 1;
	outline: auto;
	cursor: pointer;
  width: 100px;
	font-size: 13px;
	font-weight: 5000;
  text-align: center;
  transition: background-color 0.1s,
    color 0.1s,
    box-shadow 0.1s;

  position: absolute;
  top: 9%;
  left: 24%;
}

.btn:hover {
  background-color: lightcoral;
	color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

.btn:active {
  background-color:rgb(255, 100, 100);
}

/*
 * Styling for the add assignment popup.
 */
.assignment_popup {
  height: 400px;
  width: 400px;
  background: white;
  border-radius: 30px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 0px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-assignment_popup {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}

.assignment_popup form {
  margin-top: 20px;
}

.assignment_popup h2 {
  font-size: 25px;
  font-weight: 500;
  background-color: lightcoral;
  color: black;
}

/*
 * Styling for the cancel button inside the popup.
 */
.cancelbtn {
	width: 40%;
	margin-top: 100px;
	padding: 10px 10px;
	background-color: lightcoral;
	color: black;
	border-radius: 10px;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}

/*
 * Styling for the add button inside the popup.
 */
.addbtn {
	width: 40%;
	margin-top: 100px;
	margin: 10px;
	padding: 10px 10px;
	background-color: lightcoral;
	color: black;
	border-radius: 10px;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}