/*
 * Styling for the add event button.
 */
.btn2 {
	padding: 10px 30px;
	background: white;
  color: #007E6F;
  border-width: 0px;
  border-radius: 2px;
	border: 1;
	outline: auto;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
  margin-left: 10px;
	width: 100px;
	transition: background-color 0.1s,
		color 0.1s,
		box-shadow 0.1s;
	
	position: absolute;
	top: 6%;
	left: 39%;
}

.btn2:hover {
	background-color: lightcoral;
	color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

.btn2:active {
  background-color: rgb(255, 100, 100);
}

/*
 * Styling for the add event popup.
 */
.event_popup {
  height: 400px;
  width: 400px;
  background: #ffff;
  border-radius: 30px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 0px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-event_popup {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}
  
.event_popup form {
  margin-top: 20px;
}
  
.event_popup h2 {
  background-color: #007E6F;
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin: 30px 0 10px;
}

/*
 * Styling for the cancel button inside the popup.
 */
.cancelbtn2 {
	width: 40%;
	margin-top: 60px;
	padding: 10px 10px;
  background-color: #007E6F;
  color: white;
	border-radius: 10px;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}

.cancelbtn2:hover {
  background-color: #41B3A3;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 1.0);
}

/*
 * Styling for the add button inside the popup.
 */
.addbtn2 {
	width: 40%;
	margin-top: 60px;
	margin: 10px;
	padding: 10px 10px;
  background-color: #007E6F;
  color: white;
	border-radius: 10px;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}

.addbtn2:hover {
  background-color: #41B3A3;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 1.0);
}