/*Properties for where table will be*/
#table{
    background-color:#bfe0f9;
    width: 95%;
    height: 500px;
    max-height: 83%;
    margin: 2%;
    overflow-y: auto;
}

/*Properties for container around whole page*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

/*CSS properties for right hand side calendar container*/
#calendar{
    background-color: lightcoral; /*Background color*/
    margin: 2%;
    border-radius: 35px; /*Makes edges curved*/
    width: 900px;
    height: 700px;
    border-style: solid;
    border-width: 5px;
}

/*Properties for the header and event button on calendar*/
#headerAndButtons{
    display: flex;
    justify-content: space-evenly; /*spaces button and header evenly*/
    flex-direction: row-reverse; /*displays events button first, then header after*/
    align-items: center;
}

/*Properties for header on calendar*/
#calHeader{
    text-decoration: underline;
    text-align: center;
    width: 80%;
    height: 20%;
    float: right;
}

/*Properties for the tomorrow and back buttons on calendar*/
#dateButtons{
    display: flex;
    justify-content: space-between; 
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 6%;
    margin-left: 2%;
}

/*Properties for 'tomorrow' button on calendar*/
#tmrButton{
    padding: 5px;
    background-color: #bfe0f9;
}

#tmrButton:hover {
    background-color: lightcoral;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

/*Properties for 'today' button on calendar*/
#todayButton{
    padding: 10px;
    background-color: #7db4eb;
    border: #7db4eb;
    font-size: 15px;
}

#todayButton:hover {
    background-color: lightcoral;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

/*Properties for 'back' button on calendar*/
#backButton{
    padding: 5px;
    background-color: #bfe0f9;
}

#backButton:hover {
    background-color: lightcoral;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

/*Properties for left hand side Todo section*/
#Todo{
    background-color: lightcoral; 
    margin: 2%;
    border-radius: 35px; /*Curves edges*/
    width: 450px; 
    height: 700px;
    overflow: auto;
    border-style: solid;
    border-width: 5px;
}

/*Properties for header on Todo*/
#Todo > h1{
    text-decoration: underline;
    text-align: center;
}

.event {
    position: relative;
    background-color: purple;
    width: 100%;
    height: 80%;
    margin: 0%;
    border-radius: 35px; /*Curves edges*/
}

.event > p{
    position: relative;
    width: 50%;
    left: 20px;
    top: 10px;
}

/*Properties for assignments on Todo assignments tab*/
.assignment {
    position: relative;
    display: inline-block;
    background-color: #7DEBDA;
    width: 99.3%;
    height: 20%;
    margin-bottom: 10%;
    border-radius: 35px; /*Curves edges*/
    border-style: solid;

}

/*Properties for text saying "assignments" on Todo assignments tab*/
.assignment > p{
    position: relative;
    width: 50%;
    left: 20px;
    top: 10px;
}

/*Properties for Assignments and Shortcuts buttons on Todo*/
.buttons {
    font-size: 0px; /*Used to remove space between buttons*/
}

/*Properties for displaying the tab buttons and the plus sign*/
#buttonsAndPlus{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: 30px;
}

/*Properties for assignments and shortcut buttons*/
.buttons > div {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    font-weight: bold;
    font-size: large;
}

/*Properties for buttons*/
.buttons > div > p {
    margin: 5px;
}

body{
    margin: 0%;
    background-color: rgb(141, 249, 245);
}

/*Properties for the table*/
#todoList{
    margin: 2%;
    border-style: solid;
    width: 85%;
    height: 18%;
    padding: 4.5%;
    border-radius: 3px;
    text-align: center;
    float: left;
}

table, th, td {
    border:1px solid black;
}

/*
 * Styling for the settings button.
 */
.settings{
    position: absolute;
    top: 4vw;
    left: 93vw;
    width: 3vw;
    height: 3vw;
    border-radius: 2px;
    background: white;
    color: #007E6F;
    outline: auto;
    cursor: pointer;
    transition: background-color 0.1s,
      color 0.1s,
      box-shadow 0.1s;
}

.settings:hover {
    background-color: lightcoral;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

/*Properties for remove buttons*/
#removeButton {
    margin: 30px;
    margin-top: 1px;
    float: right;
    border-radius: 2px;
    background: white;
    color: #007E6F;
    outline: auto;
    cursor: pointer;
}

#removeButton:hover {
    background-color: lightcoral;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

#editButton {
    margin-top: 1px;
    float: right;
    border-radius: 2px;
    background: white;
    color: #007E6F;
    outline: auto;
    cursor: pointer;
}

#editButton:hover {
    background-color: lightcoral;
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}