.container{
    display: flex;
    border: 1px blue solid;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%
}

.container > div{
    border: 1px red solid;
}

#calendar{
    background-color: lightcoral; 
    margin: 2%;
    border-radius: 35px;  
    width: 78%;
    height: 92%;
}

#events{
    border: 1pt white solid;
    width: 10%;
}

#headerAndButtons{
    display: flex;
    justify-content: space-evenly;
    flex-direction:row-reverse;
}

#calHeader{
    text-decoration: underline;
    text-align: center;
    border: 1px yellow solid;
    width: 80%;
    height: 10%;
    float: right;
}

#Todo{
    background-color: lightcoral; 
    margin: 2%;
    border-radius: 35px;  
    width: 350px; 
    height: 500px;

    /*
    margin: 2%;
    border-radius: 35px;  
    width: 25%;
    height: 92%; */
}

#Todo > h1{
    text-decoration: underline;
    text-align: center;
}

#assignment {
    position: relative;
    background-color: lightskyblue;
    width: 96%;
    height: 20%;
    margin: 2%;
}

#shortcut {
    position: relative;
    background-color: lightgreen;
    width: 96%;
    height: 20%;
    margin: 2%;
    display: none;
}

.buttons {
    /*Used to remove space between buttons*/
    font-size: 0px;
}

#addAssignment {
    position: relative;
    cursor: pointer;
    margin-right: 10%;
    background-color: lightcoral;
    border-style: solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
}

#addAssignment > h1{
    line-height: 15%;
}

.buttons > div {
    font-size: 14px;
    margin: 0px;
}


.buttons > div {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    font-weight: bold;
    font-size: large;
}

.buttons > div > p {
    margin: 5px;
}

#button1 {
    border-right: none;
}

#button1:hover{
    background-color: #D47272;
}

#button2:hover{
    background-color: #D47272;
}

#addAssignment:hover{
    background-color: #D47272;
}

body{
    margin: 0%;
}

#addAssignment{
    border: 1px yellow solid;
}

