/*Properties for where table will be*/
#table{
    background-color:#7DEBDA;
    width: 770px;
    height: 580px;
    margin: 2%;
}

/*Properties for container around whole page*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

/*CSS properties for right hand side calendar container*/
#calendar{
    background-color: lightcoral; /*Background color*/
    margin: 2%;
    border-radius: 35px; /*Makes edges curved*/
    width: 900px;
    height: 700px;
}

/*Properties for the header and event button on calendar*/
#headerAndButtons{
    display: flex;
    justify-content: space-evenly; /*spaces button and header evenly*/
    flex-direction: row-reverse; /*displays events button first, then header after*/
    align-items: center;
}

/*Properties for header on calendar*/
#calHeader{
    text-decoration: underline;
    text-align: center;
    width: 80%;
    height: 10%;
    float: right;
}

/*Properties for left hand side Todo section*/
#Todo{
    background-color: lightcoral; 
    margin: 2%;
    border-radius: 35px; /*Curves edges*/
    width: 450px; 
    height: 700px;
}

/*Properties for header on Todo*/
#Todo > h1{
    text-decoration: underline;
    text-align: center;
}

/*Properties for assignments on Todo assignments tab*/
.assignment {
    position: relative;
    background-color: #7DEBDA;
    width: 100%;
    height: 80%;
    margin: 0%;
    border-radius: 35px; /*Curves edges*/
}

/*Properties for text saying "assignments" on Todo assignments tab*/
.assignment > p{
    position: relative;
    width: 50%;
    left: 20px;
    top: 10px;
}

/*Properties for shortcuts on Todo shortcuts tab*/
.shortcut {
    position: relative;
    background-color: #B2EDC5;
    width: 100%;
    height: 80%;
    margin: 0%;
    /*display: none;*/
    border-radius: 35px; 
}

/*Properties for text saying "shortcuts" on Todo shortcuts tab*/
.shortcut > p{
    position: relative;
    width: 50%;
    left: 20px;
    top: 10px;
}

/*Properties for Assignments and Shortcuts buttons on Todo*/
.buttons {
    font-size: 0px; /*Used to remove space between buttons*/
}

/*Properties for displaying the tab buttons and the plus sign*/
#buttonsAndPlus{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: 30px;
}

/*Properties for assignments and shortcut buttons*/
.buttons > div {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    font-weight: bold;
    font-size: large;
}

/*Properties for buttons*/
.buttons > div > p {
    margin: 5px;
}

/*Properties for add assignment buttons*/
#button1 {
    border-right: none;
}
#button1:hover{
    background-color: #D47272;
}

/*Properties for add event buttons*/
#button2:hover{
    background-color: #D47272;
}

#addAssignment:hover{
    background-color: #D47272;
}

body{
    margin: 0%;
}

/*Properties for the table*/
.holder{
    margin: 0%;
    border-style: solid;
    width: 400px;
    height: 125px;
    padding: 4.5%;
    border-radius: 3px;
    text-align: center;
}

table, th, td {
    border:1px solid black;
}

/*
 * Styling for the settings button.
 */
.settings{
    position: absolute;
    top: 7%;
    left: 92%;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background: white;
    color: #007E6F;
    outline: auto;
    cursor: pointer;
    transition: background-color 0.1s,
      color 0.1s,
      box-shadow 0.1s;
}

.settings:hover {
    background-color: lightcoral;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

/*Properties for remove buttons*/
#removeButton{
    margin: 30px;
    margin-top: 0px;
    float: right;
}
