
body{
    --background-color: lightcoral;
    --buttons:#007E6F;

    background-color: var(--background-color);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body.dark{
    --background-color: black;
    --buttons: black;
}

p > label{
    display: block;
    text-align: start;
}

#container{
    position: relative;
    display: flex;
    align-items: center; 
    flex-direction: column; 
    justify-content: center;
}

#container #drop {
    position: relative;
    width: 700px;
    height: 700px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0% 100% 24% 76% / 9% 75% 25% 91%;
    flex-direction: column;
}

#container #drop:hover{
    border-radius: 20%;
}
form{
    /* border: 1px solid pink;*/
    text-align:center;
    padding: 0px;
    border-radius: 30px;
    width: 270px;
}

h1{
    text-align:center;
    background-color: var(--buttons);
    color: white;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

input{
    width:100%;
}

#userP{
   padding: 0px 0px 0px 0px;; /*top, right, bottom, left */
}

#passP{
    padding: 1px 0px 0px 0px;; /*top, right, bottom, left */
 }

#userInput{
    display:flex;
    flex-direction: column;
    border-radius: 20px;
}

#userInput input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
    background-color: rgb(255, 255, 255);
}

input[type=password]{
    width: 100%;
    padding: 10px 10px; /* padding: topAndBottom px, leftAndRight px*/
    margin: 3px 0;
    box-sizing: border-box;
  }

input[type=text]{
    width: 100%;
    padding: 10px 10px;
    margin: 3px 0;
    box-sizing: border-box;
  }

#submit{
    width: 223px;
    height: 35px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: var(--buttons);
    color: white;
    border: 1px black solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
    font-size: 15px;
}

#signup{
    border-radius: 0% 100% 24% 76% / 9% 75% 25% 91%;
    width: 200px;
    height: 200px;
    border: 1px black solid;
    background-color: var(--buttons);
    color: white;

    position: absolute;
    right: -250px;
    bottom: 50px;

    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.5);
    
    transition: 0.5s;
    font-size: 15px;
}

#submit:hover{
    background-color: #41B3A3;
	color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

#signup:hover{
    background-color: #41B3A3;
	color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

/* #signDiv{
    display:flex;
    flex-direction: column;
    border-top: 1px solid grey;
    width: 70%;
    justify-content: center;
    text-align:center;
} */

/*
#container {
    display: flex;
    border: 1px green solid;
    padding: 50px;
    justify-content: space-between;
    flex-grow: 0;
    align-items: center;
}

#container > div {
    
    padding: 10px;
}

label {
    text-align: right;
    font-size: 30px;
    padding: 10px;
}

 input[type=text] {
    padding: 10px;
    float: right;
    
} 

#signup {
    font-size: 40px;
    margin: 50px;
    padding: 60px;
}

#submit{
   float: left;
   margin: 10px;
   font-size: 25px;
   padding: 10px;
}

h1{
    background-color: rgb(200, 204, 204);
    padding: 10px;
    margin-top: 10px;
}
*/

