#container {
    display: flex;
    /* border: 1px green solid; */
    padding: 50px;
    justify-content: space-between;
    flex-grow: 0;
    align-items: center;
}

#container > div {
    /* border: 1px blue solid; */
    padding: 10px;
}

label {
    text-align: right;
    font-size: 30px;
    padding: 10px;
}

 input[type=text] {
    padding: 10px;
    float: right;
    
} 

#signup {
    font-size: 40px;
    margin: 50px;
    padding: 60px;
}

#submit{
   float: left;
   margin: 10px;
   font-size: 25px;
   padding: 10px;
}

h1{
    background-color: rgb(200, 204, 204);
    padding: 10px;
    margin-top: 10px;
}

