
body{
    --main-dark: rgb(6, 40, 112); 
    --background-color: lightcoral; /*variable for light background color theme*/
    --white: white;
    --green: #007E6F;
    --button-Color: #007E6F;
    --escape-Hover: lightcoral;

    background-color: var(--background-color);
}

/*New colors for when switching to dark theme*/
body.dark{
    --background-color: black; /*variable for light background color theme*/
    --main-dark: rgb(77, 130, 243); 
    --green: #64d6c8;
    --button-Color: black;
    --escape-Hover:#64d6c8;
}

.mainContainer{
    margin: 30px 10px 10px 300px; /* top, right, bottom, left*/

    display: flex; 
    align-items: center; 
    flex-direction: column; 
    width: 600px;
    height: 450px;
    background-color:var(--white);
    border-radius: 30px;
    padding: 5px;
}

form{
    width: 600px;
    height: 430px;
    text-align:center;
    padding: 5px;
    background-color: var(--white);
    border-radius: 30px;
}

h1{ /*Makes h1 header in the center*/
    text-align:center;
    font-size: 25pt;

    color: var(--white);
    background-color: var(--button-Color);
    width:550px;
    height: 40px;
}

form > div { /*Deals with div elements in form*/
    border: 1px var(--white) solid;
    border-radius: 35px;
    padding: 2px;
}

#buttons{ /*Deals with buttons*/
    display: flex; /*Makes layout fluid to fill the window if window is resized*/
    justify-content: space-evenly; /*Space between buttons and edges is equal*/
}

#escapeButton{
    display: flex;
    float: right;
    margin-top: -421px;
    margin-right: -260px;
    background-color: white;
    color: var(--button-Color);
    border-radius: 5px;
    border: thick double;
    cursor: pointer;
   

    /*padding: 0px 10px;
    background: white;
    color: #007E6F;
    border: 1;
    border-radius: 2px;
    outline: auto;
    cursor: pointer;
    width: 10%;
    height: 6%;
    font-size: 90%;
	font-weight: 5000;
    text-align: center;
    transition: background-color 0.1s,
        color 0.1s,
        box-shadow 0.1s;
    */
}

#escapeButton:hover {
    background-color: var(--escape-Hover);
    color: var(--white);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

#submitButton{
    width: 200px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: var(--button-Color);
    color: var(--white);
    border: 1px black solid;
    cursor: pointer;
}

#logoutButton{
    width: 200px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: var(--button-Color);
    color: var(--white);
    border: 1px black solid;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #41B3A3;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

#logoutButton:hover {
    background-color: #41B3A3;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

.mainTheme{
    width: 40px;
    height: 20px;
    border-radius: 35px;
    cursor: pointer;
}

.inputTheme{
    display:none; /*Hides checkbox itself*/
}

.divTheme{
    display: inline-block;
    position: relative; 
    width: 40px;
    height: 20px;
    border-radius: 35px;
    background-color: rgb(215, 211, 211);
    transition: background 0.2s;
}

.inputTheme:checked ~ .divTheme { /*If input is checked, select its simbling element which is divTheme*/
    background-color: greenyellow;
}

/*Code for the circle*/
.divTheme::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 35px;
    background: var(--main-dark);
    transition: transform 0.2s;
}

.inputTheme:checked ~ .divTheme::after { /*For moving the actual circle*/
    transform:translateX(20px); /*move 20px to right side */
}
