
body{
    background-color: lightcoral;
}

.mainContainer{
    margin: 30px 10px 10px 300px; /* top, right, bottom, left*/

    display: flex; 
    align-items: center; 
    flex-direction: column; 
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
}

form{
    width: 600px;
    height: 430px;
    text-align:center;
    padding: 5px;
    background-color: white;
    border-radius: 30px;
}

h1{ /*Makes h1 header in the center*/
    text-align:center;
    font-size: 25pt;

    background-color: #007E6F;
    color: white;
    width:550px;
    height: 40px;

}

form > div { /*Deals with div elements in form*/
    border: 1px white solid;
    border-radius: 35px;
    padding: 2px;
}

#buttons{ /*Deals with buttons*/
    display: flex; /*Makes layout fluid to fill the window if window is resized*/
    justify-content: space-evenly; /*Space between buttons and edges is equal*/
}

#esc{
    border: 1px blue solid;
    display: flex;
}


#submitButton{
    width: 40%;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #007E6F;
    color: white;
    border: 1px black solid;
}

#logoutButton{
    width: 40%;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #007E6F;
    color: white;
    border: 1px black solid;
}

#submitButton:hover {
    background-color: #41B3A3;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

#logoutButton:hover {
    background-color: #41B3A3;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
}

/*

form{
    width: 600px;
    height: 430px;
    text-align:center;
    padding: 5px;
    background-color: white;
    border-radius: 30px;
}

.mainContainer{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    height: 100%;
    width: 100%;
}

form{
    width: 600px;
    height: 430px;
    text-align:center;
    padding: 5px;

    border-radius: 30px;
    background-color: white;
    gap:0;
}
*/

