#Todo {
    background-color: lightcoral; 
    width: 25%; height: 92%;
    text-align: center;
    border-radius: 35px ;  
    display: inline-block;
}

#Todo > h1{
    text-decoration: underline;
}

#assignment {
    position: relative;
    background-color: lightskyblue;
    border-radius: 50px;

    width: 350px;
    height: 100px;
}

#shortcut {
    position: relative;
    background-color: lightgreen;
    border-radius: 50px;
    
    width: 350px;
    height: 100px;
    display: none;
}

.buttons {
    /*Used to remove space between buttons*/
    font-size: 0px;
}

#addAssignment {
    position: relative;
    cursor: pointer;
    margin-right: 10%;
    background-color: lightcoral;
    border-style: solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
}

#addAssignment > h1{
    line-height: 15%;
}

.buttons > div {
    font-size: 14px;
    margin: 0px;
}


.buttons > div {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    font-weight: bold;
    font-size: large;
}

.buttons > div > p {
    margin: 5px;
}

#button1 {
    border-right: none;
}

#button1:hover{
    background-color: #D47272!important;
}

#button2:hover{
    background-color: #D47272!important;
}

#addAssignment:hover{
    background-color: #D47272;
}

body{
    margin: 20px;
}



.calander{
    display: inline-flexbox;
    height: 92%; width: 70%;
    background-color: lightcoral;
    float: right;
    border-radius: 50px;
}

#dropBox1{
    display: inline-flexbox;
    position: relative;
    height: 50%; width: 50%;
    background-color: lightblue;
    border-radius: 50px;
    padding: 20px;
}

.todoDropBox{
    background-color: black;
}

.drophere{
    width: 350px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   #div{
    background: blueviolet;
    width: 280px;
    height: 70px;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
   }

   #dropOut{
    vertical-align: center;
   }