#Todo {
    background-color: lightcoral; 
    width: 25%; height: 92%;
    text-align: center;
    margin: 2%;
    border-radius: 35px ;  
}

#Todo > h1{
    text-decoration: underline;
}

#assignment {
    position: relative;
    background-color: lightskyblue;

    width: 96%;
    height: 20%;
    margin: 2%;
}

#shortcut {
    position: relative;
    background-color: lightgreen;
    width: 96%;
    height: 20%;
    margin: 2%;
    display: none;
}

.buttons {
    /*Used to remove space between buttons*/
    font-size: 0px;
}

#addAssignment {
    position: relative;
    cursor: pointer;
    margin-right: 10%;
    background-color: lightcoral;
    border-style: solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
}

#addAssignment > h1{
    line-height: 15%;
}

.buttons > div {
    font-size: 14px;
    margin: 0px;
}


.buttons > div {
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;

    font-weight: bold;
    font-size: large;
}

.buttons > div > p {
    margin: 5px;
}

#button1 {
    border-right: none;
}

#button1:hover{
    background-color: #D47272!important;
}

#button2:hover{
    background-color: #D47272!important;
}

#addAssignment:hover{
    background-color: #D47272;
}

body{
    margin: 0%;
}