#Todo {
    background-color: lightcoral; 
    width: 25%; height: 92%;
    text-align: center;
    margin: 2%;
    border-radius: 35px ;  
}

#assignment {
    position: relative;
    background-color: lightskyblue;
    width: 96%;
    height: 20%;
    margin: 2%;
}

#shortcut {
    position: relative;
    background-color: lightgreen;
    width: 96%;
    height: 20%;
    margin: 2%;
    z-index: 2;
    display: none;
}

.buttons {
    /*Used to remove space between buttons*/
    font-size: 0px;
}

button {
    font-size: 14px;
    margin: 0px;
}

body{
    margin: 0%;
}